{% import '::widgets/form_errors.html.twig' as form_custom_errors %}
{% block headerBannerTitle %}
{% endblock %}

{% set ba = constant('Erp\\PaymentBundle\\PaySimple\\Managers\\PaySimpleManagerInterface::BANK_ACCOUNT') %}

{{ form_start(form, { attr: {'class': 'form-horizontal cc-form', 'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
                {{ form_custom_errors.widget(form.firstName) }}
            </div>
            <div class="col-xs-6">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
                {{ form_custom_errors.widget(form.lastName) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-3">
                {{ form_label(form.issuer) }}
                <div class="select-container">
                    {{ form_widget(form.issuer) }}
                </div>
                {{ form_custom_errors.widget(form.issuer) }}
            </div>
            <div class="col-xs-9">
                {{ form_label(form.number) }}
                {{ form_widget(form.number) }}
                {{ form_custom_errors.widget(form.number) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-3">
                {{ form_label(form.expMonths) }}
                <div class="select-container">
                    {{ form_widget(form.expMonths) }}
                </div>
                {{ form_custom_errors.widget(form.expMonths) }}
            </div>
            <div class="col-xs-3">
                {{ form_label(form.expYear) }}
                <div class="select-container">
                    {{ form_widget(form.expYear) }}
                </div>
                {{ form_custom_errors.widget(form.expYear) }}
            </div>
            {% if form.isDefault is defined %}
                <div class="col-xs-3">
                    {{ form_label(form.isDefault) }}
                    {{ form_widget(form.isDefault) }}
                    {{ form_custom_errors.widget(form.isDefault) }}
                </div>
            {% endif %}
        </div>
    </div>

	<div class="row">
		<div class="form-group">
			<div class="col-xs-12 cc-form-footer">
				{% if user.hasRole(constant('Erp\\UserBundle\\Entity\\User::ROLE_MANAGER')) and (not psCustomer or psCustomer.psRecurringPayments|length == 0) and user.isActiveMonthlyFee %}
					<h3>Amount: ${{ amount }} /month</h3>
				{% else %}
					<br/>
				{% endif %}
				{{ form_widget(form.submit) }}
				<span class="or-text">OR</span>
				<a href="{{ path('erp_payment_ps_create_account', {'type' : ba}) }}" class="back-dashboard btn">Add Bank Account</a>
			</div>
		</div>
	</div>

	{% if not psCustomer and user.hasRole(constant('Erp\\UserBundle\\Entity\\User::ROLE_MANAGER')) and user.isActiveMonthlyFee %}
		<div class="row">
			<div class="form-group">
				<div class="col-xs-16"><br/>
					<label for="">You will be charged Zoobdoo monthly fee starting from today.</label>
				</div>
			</div>
		</div>
	{% endif %}
{{ form_end(form) }}
