{% extends '::base.html.twig' %}

{% set headerWhiteClass = true %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block headerBannerTitle %}
    Online Rental Contract
{% endblock %}

{% block pageContent %}

    <!-- Application Form-->
    <section id="rental-form" class="register-form rental-form">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">Complete Online Rental Contract</h1>
                    <h3 class="bold-text">Property: {{ property.name }}</h3>
                </div>
            </div>

            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'msg_error' : 'message_errors', 'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error' } %}

            <div class="row">
                <div class="col-md-10 col-md-offset-1 complete-contract">
                    <div class="col-xs-12">
                        <b><u>How-To sign Rental Contract online:</u></b><br/>
                        1) Manager creates and edits Online Rental Contract using Contract Builder<br/>
                        2) Manager previews final contract as Tenant's web-form or as PDF file<br/>
                        3) Manager enables contract by "Enable Online Contract for this Property" checkbox<br/>
                        4) Link to complete Online Rental Contract appears in Tenant's Documentation area<br/>
                        5) Tenant completes contract form, signs it online and downloads as PDF file<br/>
                        6) Tenant uploads signed PDF contract to Manager's Documentation area<br/>
                        7) Manager reviews the contract and signs it by clicking SIGN button<br/>
                        8) Manager uploads signed PDF contract to Tenant's Documentation area<br/><br/><br/>
                    </div>
                    <form action="{{ path('erp_property_contract_form_fill', {'propertyId':property.id}) }}"
                        class="form-horizontal editor contract-ready" method="post"
                        enctype="multipart/form-data" name="contract-form">
                        {% if sections|length %}
                            {% for section in sections %}
                                {{ section|raw }}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-footer">
                                    {% if isManager %}
                                        <a href="{{ path('erp_property_contract_form', {'propertyId':property.id}) }}" class="cancel back-dashboard">Back</a>
                                    {% else %}
                                        <a href="{{ path('erp_user_documentation') }}" class="cancel back-dashboard">Back to Documentation</a>
                                        <input type="submit" name="sign" value="Sign" class="btn red-btn"/>
                                        <span>&nbsp;or&nbsp;</span>
                                    {% endif %}
                                    <input type="submit" name="download" value="Download" class="btn red-btn"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
