<div class="col-md-12 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Accounting Ledger / Manager: {{user.fullName }}</div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-xs-3">Date</th>
            <th class="col-xs-3">Transaction</th>
            <th class="col-xs-3">Description</th>
            <th class="col-xs-3">Status</th>
            <th class="col-xs-2" nowrap>Income</th>
            <th class="col-xs-4">Balance</th>
        </tr>
        </thead>
        <tbody>
        {% if (pagination|length) %}
            {% for item in pagination %}
                <tr>
                    <td class="text-center">
                        {{ item.created|date('M d, Y') }}<br/>
                        {{ item.created|date('h:i:s') }}
                    </td>
                    <td class="text-left">
                        {{ item.customer ? item.customer.user.fullName : '' }}<br/>
                        {{ item.paymentMethodDescription }}
                    </td>
                    <td class="text-left">

                        {% if (item.metadata) %}
                            {% if (item.metadata.description) %}
                                <em>{{ item.metadata.description }}</em><br/>
                            {% endif %}
                        {% endif %}

                    </td>
                    <td class="text-left">{{ item.status|transaction_status }}</td>
                    <td class="text-left">{{ item.amount|stripe_money }}</td>
                    <td class="text-left">{{ item.balance|stripe_money }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="text-center">No matches.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
