<!DOCTYPE html>
<html>
{% import '::widgets/form_errors.html.twig' as form_custom_errors %}
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{{ metaDescription|default('Zoobdoo') }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ metaTitle|default('Zoobdoo') }}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/styles/style.min.css') }}" rel="stylesheet" media="screen">
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png') }}" />
    </head>

    <body>
        {% block headerBlock %}
            {% include ':blocks:header.html.twig' %}
        {% endblock %}

        {% block bodyContent %}

            {% if not hideHeaderBanner|default(false) %}
                {% block headerBanner %}
                    <section id="header-banner" class="header-banner" style="background: url({{ asset('assets/images/page-banner.png') }}) no-repeat;">
                        <div class="header-overlay"></div>
                        <div class="header-block">
                            <div class="centerize-header-block">
                                <span>
                                    {% block headerBannerTitle %}
                                        Zoobdoo
                                    {% endblock %}
                                </span>
                            </div>
                        </div>
                    </section>
                {% endblock %}
            {% endif %}

            {% block pageBreadcrumbs %}
                {{ wo_render_breadcrumbs() }}
            {% endblock %}

            {% block pageContent %}{% endblock %}

        {% endblock %}

        {% block footerBlock %}
            {% include ':blocks:footer.html.twig' %}
        {% endblock %}

        <div class="hide">
            {% block paramsToJs %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/scripts/main.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/erpcore/js/jquery.blockUI.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/erpcore/js/popup.js') }}"></script>
        {% endblock %}

        {% block javascript_inline %}
        {% endblock %}

        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>

        {% if app.environment == 'prod' %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ google_analytics_id }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
