{% extends 'ErpNotificationBundle::base.html.twig' %}

{% block pageSubContent %}
    {{ parent() }}
    <section id="managers-profile" class="profile">
        <div class="container">
            {% include "ErpNotificationBundle:UserNotification:actions.html.twig" %}
            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
            <h3>Alerts History</h3>
            {% if historyItems is not empty %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date Sent</th>
                            <th>Property/Tenant</th>
                            <th>Type</th>
                            <th>Template</th>
                            <th>Received Verification</th>
                            <th>Automatic Alert?</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in historyItems %}
                        <tr>
                            <td>{{item.createdAt|date('M d, Y h:i')}}</td>
                            <td>
                                {{item.property}}<br/>{{item.tenantName}}
                            </td>
                            <td>{{item.type}}</td>
                            <td>{{item.title}}</td>
                            <td>
                                {% if item.receivedAt %}
                                    {{item.receivedAt|date('M d, Y h:i')}}
                                {% else %}
                                    no
                                {% endif %}
                            </td>
                            <td>
                                {% if item.isSendAlertAutomatically %}
                                    yes
                                {% else %}
                                    no
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No history found</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
