{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/erpcore/js/file-validator.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erpuser/js/account-details.controller.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erpproperty/js/listings-edit.controller.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erpproperty/js/properties-settings.controller.js') }}"></script>
{% endblock %}

{% block pageContent %}

    {{ parent() }}

    {% set page = pagination is defined ? pagination.currentPageNumber : 1 %}

    <div class="page-content">
        <section id="managers-listings" class="listings profile">
            <div class="container">
                <div class="row">
                    <div class="title-block">
                        <h1 class="bold-text">Manage Property Details</h1>
                    </div>
                    <div class="form-group text-center">
                        <button
                                class="btn red-btn btn-space"
                                type="submit"
                                url="{{ path('erp_property_choose_settings') }}"
                                step="properties-settings"
                                role="next"
                        >
                            Payment Settings
                        </button>
                    </div>
                </div>

                {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}

                <div class="row">

                {% if pagination|length %}
                    {% for property in pagination %}
                        {% if loop.first %}
                            <div class="row">
                        {% endif %}
                        {% include 'ErpPropertyBundle:Listings:property-listing.html.twig' %}
                        {% if loop.index % 3 == 0 %}
                            </div><div class="row">
                        {% endif %}
                        {% if loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="text-center">
                        You have no Properties yet.{% if not user.isReadOnlyUser() and not user.isPropertyCounterFree %} Number of available Properties that can be created: {{ user.propertyCounter }}. Fee for every additional Property: ${{ propertyFee }}.{% endif %}
                    </p>
                {% endif %}
                <div class="col-xs-12 text-center">
                    {{ knp_pagination_render(pagination) }}


                    {% if user.stripeCustomer %}
                        <a href="{{ path('erp_property_unit_buy') }}" class="btn red-btn">&plus; Add Properties</a>
                    {% else %}
                        <div class="form-group">
                            <button disabled class="btn red-btn">&plus; Add Properties</button><br/> <em>Verify bank account to able add properties. See Bank information on Dashboard.</em>
                        </div>
                    {% endif %}

                </div>
                {% include 'ErpPropertyBundle:Listings:properties-import-form.html.twig' %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
