<div class="col-xs-12 upload-doc-col">
    <h2>Upload Properties via CSV file</h2>
    <label>Example: <a href="{{ asset('assets/Zoobdoo_Property_Upload_Sample.csv') }}" target="_blank">Zoobdoo_Property_Upload_Sample.csv</a></label>
    <ul class="upload-help-text">
        <li>Max size: 50 Kb. Records with errors will be ignored.<li>
        <li>Allowed values in csv file:</li>
        <ul>
            <li>- Combination: state, city, property-name must be unique</li>
            <li>- State: valid state code (two characters)</li>
            <li>- Number of Baths: 1, 1.5, 2, 2.5, 3+ or empty (use dot as decimal separator for 1.5 and 2.5 values)</li>
            <li>- Number of Beds: 1, 2, 3, 4, 5+ or empty</li>
        </ul>
    </ul>
    {% if not user.isReadOnlyUser() %}
    {{ form_start(form, { attr: {'class': 'form-horizontal property-upload', 'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}
        <div class="errors"></div>
        {{ form_custom_errors.widget(form.file) }}
        {{ form_widget(form.file) }}
        <div class="file-upload">
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    {% else %}
        <div class="errors">Add your bank info in order to activate the import functionality</div>
    {% endif %}
</div>
