{{ form_start(form, { attr: {'class': 'form-horizontal', 'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}

{% if app.user %}
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group dropdown-col">
                {{ form_label(form.role) }}
                <div class="select-container">
                    {{ form_widget(form.role) }}
                </div>
                {{ form_custom_errors.widget(form.role) }}
            </div>
        </div>
    </div>
    {% if (app.user.hasRole(constant('Erp\\UserBundle\\Entity\\User::ROLE_MANAGER'))) %}
        <div class="row">
            <div class="form-group">
                <div class="col-xs-6">
                    {{ form_label(form.companyName, null, { 'label_attr': {'style': 'padding-top: 0px;'} }) }}
                    {{ form_widget(form.companyName) }}
                    {{ form_custom_errors.widget(form.companyName) }}
                </div>
                <div class="col-xs-6 profile-picture-upload">
                    <div class="upload-form">
                        <div class="errors">{{ form_custom_errors.widget(form.logo.image) }}</div>
                        {{ form_label(form.logo) }} (for invoices)
                        {{ form_widget(form.logo.image) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

<div class="row">
    <div class="form-group">
        <div class="col-xs-6">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
            {{ form_custom_errors.widget(form.firstName) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
            {{ form_custom_errors.widget(form.lastName) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-xs-6">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
            {{ form_custom_errors.widget(form.phone) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_custom_errors.widget(form.email) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-xs-6">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
            {{ form_custom_errors.widget(form.plainPassword.first) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
            {{ form_custom_errors.widget(form.plainPassword.second) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            {{ form_label(form.websiteUrl) }}
            {{ form_widget(form.websiteUrl) }}
            {{ form_custom_errors.widget(form.websiteUrl) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-xs-6">
            {{ form_label(form.addressOne) }}
            {{ form_widget(form.addressOne) }}
            {{ form_custom_errors.widget(form.addressOne) }}
        </div>
        <div class="col-xs-6">
            {{ form_label(form.addressTwo) }}
            {{ form_widget(form.addressTwo) }}
            {{ form_custom_errors.widget(form.addressTwo) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-xs-3 dropdown-col">
            {{ form_label(form.state) }}
            <div class="select-container">
                {{ form_widget(form.state) }}
            </div>
            {{ form_custom_errors.widget(form.state) }}
        </div>

        <div class="col-xs-6 dropdown-col">
            {{ form_label(form.city) }}
            <div class="select-container">
                {{ form_widget(form.city) }}
            </div>
            {{ form_custom_errors.widget(form.city) }}
        </div>

        <div class="col-xs-3">
            {{ form_label(form.postalCode) }}
            {{ form_widget(form.postalCode) }}
            {{ form_custom_errors.widget(form.postalCode) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        {#<div class="col-xs-4">#}
        {#{{ form_label(form.stripeAccount.businessName) }}#}
        {#{{ form_widget(form.stripeAccount.businessName, {'attr': {'class': 'form-control'}}) }}#}
        {#{{ form_custom_errors.widget(form.stripeAccount.businessName) }}#}
        {#</div>#}
        {#<div class="col-xs-4">#}
        {#{{ form_label(form.stripeAccount.businessTaxId) }}#}
        {#{{ form_widget(form.stripeAccount.businessTaxId, {'attr': {'class': 'form-control'}} ) }}#}
        {#{{ form_custom_errors.widget(form.stripeAccount.businessTaxId) }}#}
        {#</div>#}
        <div class="col-xs-12">
            {{ form_label(form.stripeAccount.ssnLast4, null, {'label_attr': {'class': 'control-label required-label'}}) }}
            {{ form_widget(form.stripeAccount.ssnLast4, {'attr': {'class': 'form-control'}}) }}
            {{ form_custom_errors.widget(form.stripeAccount.ssnLast4) }}
        </div>
    </div>
</div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                {{ form_label(form.stripeAccount.birthday.day, 'Day of birth', {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.stripeAccount.birthday.day, {'attr': {'class': 'form-control', 'placeholder':'01'}}) }}
                {{ form_custom_errors.widget(form.stripeAccount.birthday) }}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.stripeAccount.birthday.month, 'Month of birth', {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.stripeAccount.birthday.month, {'attr': {'class': 'form-control', 'placeholder':'01'}}) }}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.stripeAccount.birthday.year, 'Year of birth', {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.stripeAccount.birthday.year, {'attr': {'class': 'form-control', 'placeholder':'1999'}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            {#<div class="col-xs-4">#}
                {#{{ form_label(form.stripeAccount.businessName) }}#}
                {#{{ form_widget(form.stripeAccount.businessName, {'attr': {'class': 'form-control'}}) }}#}
                {#{{ form_custom_errors.widget(form.stripeAccount.businessName) }}#}
            {#</div>#}
            {#<div class="col-xs-4">#}
                {#{{ form_label(form.stripeAccount.businessTaxId) }}#}
                {#{{ form_widget(form.stripeAccount.businessTaxId, {'attr': {'class': 'form-control'}} ) }}#}
                {#{{ form_custom_errors.widget(form.stripeAccount.businessTaxId) }}#}
            {#</div>#}
            <div class="col-xs-12">
                {{ form_label(form.stripeAccount.ssnLast4, null, {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.stripeAccount.ssnLast4, {'attr': {'class': 'form-control'}}) }}
                {{ form_custom_errors.widget(form.stripeAccount.ssnLast4) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-4">
                {{ form_label(form.stripeAccount.dayOfBirth, null, {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.stripeAccount.dayOfBirth, {'attr': {'class': 'form-control'}}) }}
                {{ form_custom_errors.widget(form.stripeAccount.dayOfBirth) }}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.stripeAccount.monthOfBirth, null, {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.stripeAccount.monthOfBirth, {'attr': {'class': 'form-control'}}) }}
                {{ form_custom_errors.widget(form.stripeAccount.monthOfBirth) }}
            </div>
            <div class="col-xs-4">
                {{ form_label(form.stripeAccount.yearOfBirth, null, {'label_attr': {'class': 'control-label required-label'}}) }}
                {{ form_widget(form.stripeAccount.yearOfBirth, {'attr': {'class': 'form-control'}}) }}
                {{ form_custom_errors.widget(form.stripeAccount.yearOfBirth) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group terms-group">
            <div class="col-xs-12 terms-text">
                <h2>Terms of Use</h2>
                {{ termsOfUse|raw }}
            </div>
            <div class="col-xs-12">
                <div class="checkbox">
                    {{ form_widget(form.isTermOfUse) }}
                    <label class="control-label" for="erp_users_manager_form_registration_isTermOfUse">I have read and agree to</label><a href="javascript:void(0)" class="terms-link red-link">Zoobdoo Terms of Use</a>
                    {{ form_custom_errors.widget(form.isTermOfUse) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <div class="form-footer">
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
    </div>
<div class="hide">
    {{ form_end(form) }}
</div>
