{{ form_start(form, { attr: {'class': 'form-horizontal email-options-form', 'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <label class="control-label">Primary Email:</label>{{ user.email }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-6">
                {{ form_label(form.secondEmail) }}
                (used for notifications)
                {{ form_widget(form.secondEmail) }}
                {{ form_custom_errors.widget(form.secondEmail) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-footer">
                <a class="back-dashboard" href="{{ path('erp_user_profile_dashboard') }}">Back to Dashboard</a>
                {{ form_widget(form.save) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}
