<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-profile-navbar" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <span class="page-title navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-profile-navbar" 
    aria-expanded="false">Profile</span>
</div>
<div class="collapse navbar-collapse white-navbar" id="secondary-profile-navbar">
    <ul class="nav navbar-nav tenant-nav">
        <li class="menu-item{{ currentRoute == 'fos_user_profile_show' ? ' current' : ''}}">
            <span class="secondary-menu-icon profile-icon"></span>
            <a href="{{ path('erp_user_profile_dashboard') }}">Profile</a>
        </li>
        <li class="menu-item{{ currentRoute == 'erp_user_contact_info' ? ' current' : ''}}">
            <span class="secondary-menu-icon contact-icon"></span>
            <a href="{{ path('erp_user_contact_info') }}">Contact Info</a>
        </li>
        <li class="menu-item{{ currentRoute == 'erp_user_documentation' ? ' current' : ''}}">
            <span class="secondary-menu-icon documentation-icon"></span>
            <a href="{{ path('erp_user_documentation') }}">Documentation</a>
        </li>
        <li class="menu-item{{ currentRoute == 'erp_user_messages' ? ' current' : ''}}">
            <span class="secondary-menu-icon messages-icon"></span>
            {% if count_unread_messages(app.user) %}
                <div class="messages-count-icon">
                    <span class="messages-count">{{ count_unread_messages(app.user) }}</span>
                </div>
            {% endif %}
            <a href="{{ path('erp_user_messages') }}">Messages</a>
        </li>
    </ul>
</div>
