{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% import '::widgets/form_errors.html.twig' as form_custom_errors %}

{% set cc = constant('Erp\\PaymentBundle\\Entity\\StripeCustomer::CREDIT_CARD') %}
{% set ba = constant('Erp\\PaymentBundle\\Entity\\StripeCustomer::BANK_ACCOUNT') %}

{% block pageContent %}
    {{ parent() }}

    <section id="register-form-tenants" class="register-form cc-form-wrap">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">Credit Card</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% if errors %}
                        <span class="field-validation-error">{{ errors }}</span>
                    {% endif %}

                    {{ form_start(form, {'action': path('erp_payment_stripe_save_credit_card'), 'attr': {'class': 'form-horizontal cc-form', 'novalidate': 'novalidate'}}) }}

                    {% for error in form.vars.errors %}
                        <span class="field-validation-error">{{ error.message }}</span>
                    {% endfor %}

                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ form_label(form.number) }}
                                {{ form_widget(form.number) }}
                                {{ form_custom_errors.widget(form.number) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-4">
                                {{ form_label(form.expMonth) }}
                                <div class="select-container">
                                    {{ form_widget(form.expMonth) }}
                                </div>
                                {{ form_custom_errors.widget(form.expMonth) }}
                            </div>
                            <div class="col-xs-4">
                                {{ form_label(form.expYear) }}
                                <div class="select-container">
                                    {{ form_widget(form.expYear) }}
                                </div>
                                {{ form_custom_errors.widget(form.expYear) }}
                            </div>
                            <div class="col-xs-4">
                                {{ form_label(form.cvc) }}
                                <div class="select-containear">
                                    {{ form_widget(form.cvc) }}
                                </div>
                                {{ form_custom_errors.widget(form.cvc) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-12 cc-form-footer">
                                <br/>
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/erpcore/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/erpproperty/js/available-properties.controller.js') }}"></script>
    <script src="https://js.stripe.com/v2"></script>
    <script>Stripe.setPublishableKey('{{ stripe_public_key }}');</script>
{% endblock %}

{% block javascript_inline %}
    <script>
        (function ($) {
            var form = $('[name="{{ form.vars.name }}"]');

            function stripeResponseHandler(status, response) {
                if (status < 200 || status >= 300) {
                    return false;
                } else {
                    $('#{{ form.token.vars.id }}').val(response['id']);
                    form.get(0).submit();
                }
            }

            form.on('submit', function (e) {
                e.preventDefault();
                Stripe.card.createToken(form, stripeResponseHandler);

                return false;
            });
        })(jQuery);
    </script>
{% endblock %}