{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% import '::widgets/form_errors.html.twig' as form_custom_errors %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/erpproperty/js/unit.controller.js') }}"></script>
{% endblock %}

{% block pageContent %}
    {{ parent() }}
    <section id="register-form-tenants" class="register-form cc-form-wrap">
        <div class="container">
            <div class="row">
                <div class="title-block title-block_units">
                    <h1 class="bold-text">Please enter the amount of units you'd like to add.</h1>
                    <p>Enter the number of properties you will manage below! You will not be charged until after the trial period!</p>
                </div>
            </div>

            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}
            {% if errors %}
                <span class="field-validation-error">{{ errors }}</span>
            {% endif %}
            <div class="row">
                <div class="col-md-6 prising_wrap">
                    <div class="pricing_info">
                        <h2>Pricing</h2>
                        <ol class="pricing_list">
                            <li>1st unit: $99/ annual fee (includes all services)</li>
                            <li>2 - 29 Units: $20 each/ annual fee (includes all services)</li>
                            <li>30 Units and more: $15 each/ annual fee (includes all services)</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-6 form_wrap">

                    {# TODO money format on js #}
                    <p>Current annual cost: $<span id="current-year-price">{{ current_year_price }}</span></p>
                    <p>Total New Annual Cost: $<span id="total-price">{{ total_price }}</span></p>
                    <input type="hidden" id="existing-unit-count" value="{{ existing_unit_count }}">
                    <input type="hidden" id="settings" value="{{ settings|json_encode }}">
                    {{ form_start(form, { attr: {'class': 'form-horizontal cc-form', 'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}
                        <div class="row">
                            <div class="form-group form-group_units">
                                <div class="col-xs-12">
                                    <div class="form-group_units_label">
                                        {{ form_label(form.quantity) }}
                                    </div>
                                    <div class="form-group_units_form">
                                        {{ form_widget(form.quantity, {'id': 'unit-count'}) }}
                                    </div>
                                    {{ form_custom_errors.widget(form.quantity) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12 cc-form-footer">
                                    <br/>
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
