
<div class="col-md-5 col-xs-6 profile-widget-item widget-last">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Properties</div>
    </div>

    <div class="row bank-info-row">
        <div class="col-xs-12">
            <canvas
                id="properties-history-chart"
                width="400"
                height="200"
                data-available-properties="{{ available_properties|json_encode }}"
                data-rented-properties="{{ rented_properties|json_encode }}"
                data-intervals="{{ intervals|json_encode }}"
                data-labels="{{ labels|json_encode }}"
                data-listing-url="{{ url('erp_property_listing_search') }}"
                ></canvas>
        </div>
    </div>
    <hr>

    <div class="question-mark">

    </div>
</div>