{% import '::widgets/form_errors.html.twig' as form_custom_errors %}

<div class="col-md-3 col-xs-6 profile-widget-item tip-item widget-first">
    <div class="row widget-title-row">
        <div class="login-block-title bold-text">Ask a pro for Tip!</div>
    </div>
        {{ form_start(form, { attr: {'class': 'tip-form', 'novalidate': 'novalidate'}, 'enctype': form_enctype(form)}) }}
        <div class="tip-block">
            <span class="tip-form-title">Ask a property management professional a question today</span>

            <div class="form-group subject-field">
                {{ form_widget(form.subject) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.message) }}
            </div>
            <div class="form-footer">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.isRefferal) }}
                        {{ form_label(form.isRefferal) }}
                    </label>
                </div>
            </div>
        </div>
                <div class="submit-row">
					{% if user.isReadOnlyUser() %}
						<a class="btn red-btn" type="submit" href="{{ path('erp_user_profile_read_only_popup') }}" role="popup">Submit</a>
					{% else %}
						<button type="submit" class="btn red-btn">Submit</button>
					{% endif %}
                </div>
        {{ form_end(form) }}
    <hr>
    <div class="question-mark">
        <a role="popup" href="{{ path('erp_user_profile_hint_content', {'hintCode':'ask_a_pro_for_tip'}) }}">&#063;</a>
    </div>
</div>
