{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block pageContent %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                {% set templateRoutes = ['erp_notification_template_create', 'erp_notification_template_update', 'erp_notification_template_list'] %}
                <li role="presentation" class="{{ (currentRoute in templateRoutes) ? ' active' : ''}}"><a href="{{ path('erp_notification_template_list') }}">Templates</a></li>
                {% set alertRoutes = ['erp_notification_user_notification_create', 'erp_notification_user_notification_update', 'erp_notification_user_notification_list', 'erp_notification_user_notification_history'] %}
                {% if app.user.templates is not empty %}
                <li role="presentation" class="{{ (currentRoute in alertRoutes) ? ' active' : ''}}"><a href="{{ path('erp_notification_user_notification_list') }}">Alerts</a></li>
                {% else %}
                <li role="presentation" class="disabled"><a href="javascript:void(0);">Alerts</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% block pageSubContent %}{% endblock %}
{% endblock %}