{% extends 'ErpUserBundle:Profile:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
{% endblock %}

{% block pageContent %}

    {{ parent() }}

    {% set cc = constant('Erp\\PaymentBundle\\PaySimple\\Managers\\PaySimpleManagerInterface::CREDIT_CARD') %}
    {% set ba = constant('Erp\\PaymentBundle\\PaySimple\\Managers\\PaySimpleManagerInterface::BANK_ACCOUNT') %}
    {% set psCustomer = user.getPaySimpleCustomers()|length ? user.getPaySimpleCustomers().first : null %}
    {% set property = user.getTenantProperty() %}

    <section id="tenants-profile" class="profile">
        <div class="container">
            <div class="row">
                <div class="title-block">
                    <h1 class="bold-text">Your Profile</h1>
                    <h4>Current balance:
                        {% if app.user.rentPaymentBalance.balance is defined %}
                            {{ app.user.rentPaymentBalance.balance|money }}
                        {% else %}
                            00.00$
                        {% endif %}
                    </h4>
                </div>
            </div>

            {% include "ErpCoreBundle:crossBlocks:message.html.twig" with {'alert_ok' : 'alert_ok', 'alert_error' : 'alert_error'} %}

            <div class="row profile-widget-row">
                {{ render(controller('ErpPropertyBundle:ScheduledRentPayment:payRent')) }}
                {{ render(controller('ErpUserBundle:Dashboard:showPaymentDetails')) }}
                {{ render(controller('ErpPaymentBundle:PaymentWidgets:paymentsPreferences')) }}
            </div>

            <div class="row profile-widget-row profile-widget-rows tenants-block">
                <div class="col-md-3 col-xs-6 profile-widget-item widget-last tenants-block-item">
                    {{ render(controller('ErpUserBundle:Profile:renderWidgetMessages')) }}
                    <div class="col-md-6 col-xs-12">
                        {{ render(controller('ErpPropertyBundle:ScheduledRentPayment:payRent')) }}
                    </div>
                    <div class="col-md-6 col-xs-12">
                        {{ render(controller('ErpUserBundle:Dashboard:showPaymentDetails')) }}
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 profile-widget-item login-widget widget-last">
                    
                    <div class="profile-widget-content profile-content-last">
                        <div class="row widget-title-row">
                            <div class="login-block-title bold-text">Account Login Details</div>
                        </div>
                        <div class="row login-row">
                            <div class="account-photo">
                                {% if user.image %}
                                    <img src="{{ asset(user.image.path ~ '/' ~ user.image.name) | imagine_filter('profile_image') }}"/>
                                {% else %}
                                    <img src="{{ asset('assets/images/profile/User.png') }}"/>
                                {% endif %}
                            </div>
                            <div class="account-info-block">
                                <div class="account-info">
                                    <span class="account-icon icon-user"></span>
                                    <span class="account-name">{{ user.firstName }}</span>
                                </div>
                                <div class="account-info"><span class="account-icon icon-lock"></span><span class="account-name">****</span>
                                </div>
                            </div>
                        </div>
                        <div class="row edit-row">
                            <a class="btn edit-btn" href="{{ path('erp_user_details') }}">edit</a>
                        </div>
                        <hr>
                        <div class="question-mark">
                            <a role="popup" href="{{ path('erp_user_profile_hint_content', {'hintCode':'account_login_details'}) }}">&#063;</a>
                        </div>
                    </div>

                    <div class="profile-widget-content profile-content-last widget-second prop-widget">
                        <div class="row widget-title-row">
                            <div class="login-block-title bold-text">My Property</div>
                        </div>
                        <div class="address-details-block">
                            <div class="primary-address">Your Address:</div>
                            <span class="address-details street-details">{{ property.getAddress() }}</span>
                            <span class="address-details city-details">
                                {{ property.getCity() ? property.getCity().getName() : '' }},
                                {{ property.getStateCode() }} {{ property.getZip() }}
                            </span>
                        </div>
                        <hr>
                        <div class="question-mark">
                            <a role="popup"
                               href="{{ path('erp_user_profile_hint_content', {'hintCode':'my_property'}) }}">&#063;</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    {{ render(controller('ErpUserBundle:Profile:renderWidgetMessages')) }}
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block javascript_inline %}
    {# TODO Refactoring #}
    <script>
        (function ($) {
            var linkHandler = Plaid.create({
                env: '{{ plaid_env }}',
                clientName: 'Zoobdoo',
                key: '{{ plaid_public_key }}',
                product: ['auth'],
                selectAccount: true,
                onSuccess: function (public_token, metadata) {
                    $.blockUI({message: 'Account verifying... Please wait.'});
                    $.ajax({
                        url: '{{ path("erp_payment_stripe_verify_bank_account") }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            publicToken: public_token,
                            accountId: metadata.account_id
                        },
                        success: function (response) {
                            if (response.redirect) {
                                $.blockUI({message: 'Now you\'ll be redirected.'});
                                $.unblockUI();
                                document.location = response.redirect;
                            }
                        }
                    });
                },
                onExit: function (err, metadata) {
                    if (err !== null) {

                    }
                }
            });

            $('#verify-ba').click(function () {
                linkHandler.open();
            });
        })(jQuery);
    </script>
{% endblock %}